{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
   
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"> Popular News Sources </h1>
    
            
            <div class="">
                <div class="">
                    <h4>{{ macro.displaySourcesList(popular_sources)}}</h4>
                </div>
            </div>       
</div>
<div class="footer bg-secondary">
    {% block footer %}
        <footer class="text-center text-light fs-1 pt-4 pb-4">&copy; 2021 Global News</footer>
    {% endblock footer %}
</div>

{% endblock%}