<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}                      
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to NewsHighlight </title>
        {% endif %}
    </head>
    <body>
            <p>{% message1%}</p>
            {% block content %}

<div class="container">
    <form>
        <input type="text" name="articles_query" placeholder="Search for an article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

    </body>
</html>