
{% macro displaySourcesList(sources_list) %}

{% for sources in sources_list %}
<div class="col-md-4">
    <h4>{{ sources.name }}</h4>
    <p> {{ sources.description [:100]}} ... </p>
    <a class="text-center" href="/articles/{{ sources.id}}"><button class="rounde-pill">{{ sources.id }}</button></a>
    
</div>
{% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}

{% for articles in articles_list %}

<div class="">
<div class=" col-md-6">
    <div class="card">
{% if articles.urlToImage %}
        <img src="{{ articles.urlToImage }}" height="400" width="500" alt="{{ articles.title }}">

{% endif %}

        <div class="card-body">
            <h6 class="">{{ articles.title }}</h6>
            <p class="card-text"><small> {{ articles.description }}</small></p>
            <div class="">
                <div>
                    <p><strong><span class=""><small> {{ articles.publishedAt  }} </small></span></strong>
                    </p>
                </div>
                <div class="">
                    <a href="{{ articles.url }}" target="_blank" class=""><button> Read More </button></a> <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</div><br>

{% endfor %}

{% endmacro %}